
/*global*/
$prefix: hf;

/*color*/
$purple: #990088;
$orange: orange;
$white: #fff;
$gray-light: #f0f0f0;
$gray-light-l3: #f5f5f5;

/*font*/
$font-family: "lucida grande",
"lucida sans unicode",
lucida,
helvetica,
"Hiragino Sans GB",
"WenQuanYi Micro Hei",
sans-serif;
$font-12: .12rem;
$font-14: .14rem;
$font-16: .16rem;
$font-18: .18rem;
$font-32: .32rem;

/*gap*/
$page-gap: .1rem;

:export {
  appPrefix: $prefix;
}
