.#{$prefix}-p-home {
  color: $purple;
  font-size: $font-14;

  .row {
    padding: $page-gap;
    border-bottom: 1px solid $gray-light-l3;

    span {
      width: 1.2rem;
      display: inline-block;
      text-align: right;
      padding-right: $page-gap;
    }
  }
}
